@{
    ViewData["Title"] = "Espace Administrateur";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        
        <div class="card text-center">
            <h2>Bienvenue dans l'espace administrateur</h2>
            <p class="sub">Vous êtes connecté en tant qu'administrateur.</p>

            <a class="btn" asp-controller="Tournoi" asp-action="Index">Gérer les tournois</a>
            <br /><br />
            <a class="btn btn-secondary" asp-controller="Auth" asp-action="Logout">Se déconnecter</a>
        </div>

    </div>
</div>
